{% extends 'base.html' %}
{% block media %}
    <link rel="stylesheet" href="/static/css/clothes.css">
{% endblock %}
{% block content %}

    <div class="col-md4">

    </div>
    <div class="col-md8">
        Clothes: {{ clothes|length }}. <a href="{{ uri_for('add_clothes') }}"> add</a>

        <div class="clothes-list">
            {% for item in clothes %}
                <div class="clothes-item small">
                    <img src="{{ uri_for('serve_image', key=item.photo) }}" class="img-thumbnail">
                    <a href="{{ uri_for('show_clothes', key=item.key.urlsafe()) }}" class="clothes-name">{{ item.name }}</a>
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}